<button
	type="button"
	id="toggle-theme"
	class="relative ml-5 h-9 w-9 rounded-md p-2 ring-zinc-400 transition-all hover:ring-2"
	aria-label="Webring"
>
	<a href="https://webring.wonderful.software#tantatorn.xyz" title="วงแหวนเว็บ">
		<img
			alt="วงแหวนเว็บ"
			width="24"
			height="24"
			src={"https://webring.wonderful.software/webring.white.svg"}
			class="dark:invert-100 absolute left-0 top-0 h-full w-full"
		/>
	</a>
</button>
