---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/me.webp";
import Experience from "@/components/experience/Experience";

const meta = {
	title: "About",
	description: "About Tantatorn Suksangwarn",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<div class="grid gap-4 sm:grid-cols-1 md:grid-cols-2">
			<Image
				src={aboutImg}
				alt="Tantatorn Suksangwarn"
				loading="eager"
				fetchpriority="high"
				class="ml-auto mr-auto h-56 w-56 rounded-full object-contain"
			/>
			<div class="flex flex-col gap-y-4">
				<h1 class="title">About me</h1>
				<p>
					Hi, I'm a Software Engineer based in Bangkok. I love to learn new stuffs and build things.
					Join me in sculpting the future of technology - where curiosity and code meet to craft the
					extraordinary. I enjoy building things with React, NextJS, and Golang.
				</p>
			</div>
		</div>
		<h2 class="title mt-6">Work Experience</h2>
		<Experience />
	</div>
</PageLayout>
