---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/me.jpg";
import Experience from "@/components/experience/Experience";

const meta = {
	title: "About",
	description: "About Tantatorn Suksangwarn",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About me</h1>
		<p>
			Hi, I'm a Software Engineer based in Bangkok. I love to learn new stuffs and build things.
			Join me in sculpting the future of technology - where curiosity and code meet to craft the
			extraordinary.
		</p>
		<div class="flex justify-center">
			<Image
				src={aboutImg}
				alt="Tantatorn Suksangwarn"
				loading="eager"
				fetchpriority="high"
				class="h-auto w-72"
			/>
		</div>
		<h2 class="title">Work Experience</h2>
		<Experience />
	</div>
</PageLayout>
