---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/me.jpg";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About me</h1>
		<p>
			Hi, I'm a Software Engineer based in Bangkok. I love to learn new stuffs and build things.
			Join me in sculpting the future of technology - where curiosity and code meet to craft the
			extraordinary.
		</p>
		<div class="flex justify-center">
			<Image
				src={aboutImg}
				alt="Tantatorn Suksangwarn"
				loading="eager"
				fetchpriority="high"
				class="h-auto w-72"
			/>
		</div>
		<p>Here are my some of my awesome built in features:</p>
		<ul class="list-inside list-disc">
			<li>I'm ultra fast as I'm a static site</li>
			<li>I'm fully responsive</li>
			<li>I come with a light and dark mode</li>
			<li>I'm easy to customise and add additional content</li>
			<li>I have Tailwind CSS styling</li>
			<li>Shiki code syntax highlighting</li>
			<li>Satori for auto generating OG images for blog posts</li>
		</ul>
		<p>
			Clone or fork my <a
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository">repo</a
			> if you like me!
		</p>
	</div>
</PageLayout>
