---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import HelloWorld from "../components/misc/HelloWorld";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const myToolBox: Array<{ title: string; desc: string }> = [
	{
		title: "Frontend",
		desc: "My canvas is built with TypeScript and adorned with the artistry of React, bringing interactive and dynamic web experiences to life.",
	},
	{
		title: "Backend",
		desc: "I wield the power of Golang to craft robust and scalable services that fuel the overall web experiences.",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
    <HelloWorld client:only />
		<p class="mb-4">
			Hi, I'm a Software Engineer based in Bangkok. I love to learn new stuffs and build things.
			Join me in sculpting the future of technology - where curiosity and code meet to craft the
			extraordinary.
		</p>
		<p class="mb-4">
			When I'm not coding, you can find me playing games, brewing a coffee, or reading books.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">My Toolbox</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				myToolBox.map(({ title, desc }) => (
					<li>
						<p class="inline-block sm:mt-2">
							<span class="font-semibold">{title}:</span> {desc}
						</p>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
